.promo-btn {
  display: inline-block;
  border-radius: 6px;
  min-width: 497px;
  padding: 30px 36px;
  text-decoration: none;
  background-color: $color-accent;
  color: $color-white;
  font-size: 42px;
  line-height: 57px;

  @media (max-width: $mobile-max) {
    min-width: 278px;
    font-size: 24px;
    line-height: 33px;
  }

  @media (max-width: $mobile-max) {
    padding: 20px 14px;
  }
}

.btn-features {
  display: inline-block;
  margin: 0;
  padding: 30px 36px;
  margin-top: 150px;
  min-width: 497px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 42px;
  line-height: 57px;
  background-color: $color-accent;
  color: $color-white;
  border: none;

  @media (max-width: $mobile-max) {
    min-width: 278px;
    font-size: 24px;
    line-height: 33px;
  }

  @media (max-width: $tablet-max) {
    margin-top: 80px;
  }

  @media (max-width: $mobile-max) {
    max-width: 278px;
    margin-top: 60px;
    padding: 20px 14px;
    font-size: 24px;
    line-height: 33px;
  }
}

.btn-lead {
  height: 104px;
  width: 100%;
  border-radius: 6px;
  color: $color-white;
  border: none;
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  background-color: $color-accent;
}
