.footer {
  padding: 30px 0;
  background-color: $color-dark;

  @media (max-width: $mobile-max) {
    padding-bottom: 35px;
  }

  a {
    color: $color-white;
  }
}

.footer-inner {
  @include inner;
}

.footer-wrap {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-max) {
    display: block;
    justify-content: center;
    text-align: center;
  }
}

.foot-logo {
  width: 66.68%;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;

  @media (max-width: $mobile-max) {
    display: block;
    margin: auto;
    margin-bottom: 30px;
  }
}

.footer-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33.32%;

  @media (max-width: $mobile-max) {
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.footer-num {
  width: 75%;
  padding-left: 15px;
  padding-right: 45px;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  white-space: nowrap;

  @media (max-width: $mobile-max) {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 25%;

  @media (max-width: $mobile-max) {
    margin: auto;
  }
}

.social-items {
  padding-left: 15px;
  width: 26px;
  height: 26px;
}
