.header {
  background-color: $color-dark;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;


  @media (max-width: $tablet-max) {
    padding: 20px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 16px 0;
  }
}

a {
  text-decoration: none;
}

.menu {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  @media (max-width: $mobile-max) {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    background-color: $color-dark;
    color: $color-white;
  }

  ul {
    list-style: none;

    @media (max-width: $mobile-max) {
      justify-content: center;
      display: block;
      text-align: center;
    }
  }
}

.header-inner {
  @include inner;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo {
  @include logo;

  @media (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }
}

.burger {
  display: none;

  @media (max-width: $mobile-max) {
    display: block;
  }
}
