.lead {
  padding-top: 130px;
  padding-bottom: 130px;
  color: $color-dark;
  background-color: rgba($color-dark, 0.1);

  @media (max-width: $tablet-max) {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @media (max-width: $mobile-max) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.lead-inner {
  @include inner;
}

.lead-title {
  @include h2;
}

.lead-text {
  text-align: center;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 90px;
  font-size: 28px;
  line-height: 38px;

  @media (max-width: $mobile-max) {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 25px;
  }
}
