.promo {
  text-align: center;
  margin-top: 89px;
  padding-top: 200px;
  padding-bottom: 215px;
  background: linear-gradient(
      0deg,
      rgba($color-dark, 0.4),
      rgba($color-dark, 0.4)
    ),
    url(/images/promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (max-width: $tablet-max) {
    padding-bottom: 190px;
  }

  @media (max-width: $mobile-max) {
    margin-top: 69px;
    padding-bottom: 100px;
  }
}

.promo-inner {
  @include inner;
}

.promo-title {
  padding-bottom: 100px;
  font-weight: 600;
  line-height: 98px;
  font-size: 72px;
  color: $color-white;

  @media (max-width: $tablet-max) {
    padding-top: 180px;
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    padding-top: 110px;
    padding-bottom: 80px;
    font-size: 32px;
    line-height: 44px;
  }
}
