.promo {
  text-align: center;
  background-image: url(/images/promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .promo-inner {
    @include inner;
  }

  h1 {
    color: $color-white;
    font-weight: 600;
    line-height: 98px;
    font-size: 72px;
    margin: 200px 0 50px;
  }

  .promo-btn {
    @include btn;
    padding: 30px 36px;
    margin: 50px 0 245px;
  }
}