.slider {
    padding-top: 230px;
    padding-bottom: 100px;
    background-color: $color-white;
  }
  
  .slider-inner {
    @include inner;
  }
  
  .slider-title {
    @include h2;
  }
  
  .slider-wrap {
    margin-top: 50px;
  }
  
  .carousel-image {
      width: 304px;
      height: 304px;  
  }

  .review-active {
    background-color: $color-accent;
  }

  .carousel-image-brd {
    border-radius: 50%;
  }