.catalog-active {
  background-color: $color-accent;
}

.catalog {
  padding-bottom: 30px;
}

.catalog-title {
  @include h2;
  margin-top: 90px;
  margin-bottom: 77px;
}

.catalog-search {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: $color-dark;
  padding-left: 25px;
  padding-right: 25px;

  &:hover {
    color: $color-accent;
  }
}

.features {
  .features-butterfly {
    margin-top: 30px;
  }
}
