.features-inner {
  h2 {
    margin-top: 220px;
    margin-bottom: 77px;
  }
}

.catalog-search {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: $color-dark;
  padding-left: 25px;
  padding-right: 25px;
}

.features {
  .features-butterfly {
    margin-top: 30px;
  }
}
