@mixin logo {
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }
}

@mixin inner {
  width: 1276px;
  margin: 0 auto;
}

@mixin btn {
  display: inline-block;
  border-radius: 6px;
  text-decoration: none;
  background-color: $color-accent;
  color: $color-white;
  font-size: 42px;
  line-height: 57px;
  min-width: 497px;

  @media (max-width: $mobile-max) {
    font-size: 24px;
    line-height: 33px;
    min-width: 278px;
  }
}
